#text_reg{
    text-decoration: none;
    color: green;
}
.tb{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    padding: 10 auto;
    justify-content: space-between;
    height: 3rem;
}
.op{
    margin: 0 auto;
    margin-top: 10px;
}